$primary-font: "MinionProRegular", sans-serif;
$secondary-font: "Josefin Sans";
$tertiary-font: "LovelyMay";

$colour-a: #F4EFE7 ;
$colour-b: #8B1E2D ;
$colour-c: #C6A15A ;
$colour-d: #9EAD9B ;
$colour-e: #B08A78 ;
$colour-f: #E6D7C7 ;
 
//$secondary-colour

body {
  font-family: $tertiary-font;
  font-size: 2vw;
  color: black;
  margin: 0;

  background-color: $colour-f;
    background-image: url("../images/background_opaque.png");

  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-family: $tertiary-font;
    font-size: 10vw;
    text-align: center;
    color: $colour-a;
  }
  h2 {
    font-family: $tertiary-font;
    font-size: 5em ;
    text-align: center;
  }
  h3 {
    font-family: $secondary-font;
    text-align: center;
  }
  p {
    font-size: 1em;
    font-family: $primary-font;
    text-align: center;

  }

  caret-color: black;

}

#loader {
  width: 100%;
  height: 100vh;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  video {
    border: white solid 2px;
  }

}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fadein {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(50%);
  transition: all 0.75s;
}
.fadein.appear {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0%);
}

.full-width {
  width:100%;
}

.normal-width {
  width: 100%;
  max-width: 1200px;
}

.name-section {

  display: flex;
  justify-content: center;
  align-items: center;
  //background-color: #3e3e3e;
  background-image: url("../images/background_opaque.png");;

  position: relative;

  width: 100%;
  //max-width: 1920px;
  //max-height: 1080px;
  height: 100vh;
  //min-height: 700px;

  h1 {
    position: relative;
    color: white;
    /*
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    */
    width: 100%;
  }

  img {
    width: 50%;
    max-width: 240px;
    object-fit: contain;
    margin-bottom: -3em;
    margin-top: 10em;
    
  }

  .image-wrapper::before {
    content: "";
    //background-color: $colour-a;
    background-image: url("../images/header-background.jpg");
    background-repeat: no-repeat;
    //background-color: rgba($colour-c, 1.0);
    background-position: center;
    background-size: cover;
    background-clip: content-box;

    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 60vh;
    width: 100%;
    z-index: -1;


    opacity: 0.6;
    max-height: 800px;

    border-top: $colour-c 6px solid;
    border-bottom: $colour-c 6px solid;


  }
  .image-wrapper {
    position: absolute;
    top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    height: 60vh;
    width: 100%;
    max-height: 800px;
    max-width: 1200px;
    
  }

}

.global-shadow {
  box-shadow: 8px 8px 4px #8C8C8C24 ;
}

.thank-you {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  max-width: 1200px;



  h1 {
    font-weight: bold;
    margin: 0;
  }
  
  img {
    width: 50%;
    max-width: 240px;
    object-fit: contain;

  }
}

.gold {
  color: $colour-c;
}
.burgundy {
  color: $colour-b;
}
.sage {
  color: $colour-d;
}

.kerned {
  letter-spacing: 0.1em;
  font-size: 1.8em;
}

.rsvp-section {

  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: $colour-a;
  background-image: url("../images/background_opaque.png");
  background-position: center;
  background-size: cover;

  max-width: 1200px;
  height: 1200px;
  min-height: 820px;
  max-height: 80vh;
  width: 100%;

  p {
    font-size: 1.2em;
    margin: 0 0 0.6em 0;

  }

  h2 {
    writing-mode: sideways-lr;
    font-family: "AngeleRegular";
    font-size: 10em;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
    color: $colour-d;
  }

  img {
    position: absolute;
    right: 0%;
    opacity: 0.6;


    object-fit: contain;
    //width: 70vh;

    height: 800px;
  }

  .cards {
    /*
    display: inherit;
    flex-direction: column;
    justify-content: space-around;
    */
    width: 80%;
  }
  
  .card {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2em 5em 2em 0em;
    margin: 0 2em 0 2em;

    width: 80%;
    min-height: 360px;
    min-width: 400px;
    z-index: 2;
    overflow:visible;

    background-color: white;
  }

  .text {
    display: inherit;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    div {
      width: 80%;
    }
  }

  .main {
    align-items: center;
    justify-content: center;
    transform: translateY(150px);
    transition: transform 0.25s;
  }

  .questions {
    z-index: 1;
    font-size: 1em;
    transform: translateY(-210px);
    transition: transform 0.3s;
    border-left: 6em $colour-d solid;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    min-height: 60px;

    label, input {
      font-family: $secondary-font;
      text-align: center;
      color: black;
      border: none;
    }
    input {
      margin-top: 0.5em;
      margin-bottom: 1em;
      line-height: 0px;
      color: $colour-d;
      border-bottom: lightgrey solid 2px;
      outline: none;
    }
  }

  .no {
    transform: translateY(-200px);
    //transition: translate 2s;
    p {
      visibility: visible;
    }
    input, label {
      visibility: hidden;
    }
    .name {
      visibility: visible;
    }
    .toggle {
      input {
        background-color: $colour-c;
        color: white;
      }
    }
  }

  .yes {
    transform: translateY(0px);
    //transition: translate 2s;
    p {
      visibility: hidden;
    }
    input, label {
      visibility: visible;
    }
    .name {
      visibility: visible;
    }
    .toggle {
      input {
        background-color: transparent;
        color: $colour-c;
      }
    }
  }

  .toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      font-size: 1.5em;
    }
    div {
      width: 100%;
      display: inherit;
      justify-content: center;
    }
  }

  .press {
    font-family: "AngeleRegular";
    font-size: 1.5em;
    padding: 0.25em 1.5em 0.25em 1.5em;
    background-color: transparent;
    border: $colour-c 2px solid;
    border-radius: 18px;
    height: 2em;
    color: black;
    margin: 0 0.5em 0 0.5em;

  }

  .press:hover {
    background-color: $colour-c;
    color: white;
  }

  .toggled {
    transform: translateY(0px);
  }

}
.hindu-section::before {
  content: "";
  //background-color: $colour-a;
  background-image: url("../images/background.png");
  background-position: center;
  background-size: cover;

  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;

  opacity: 0.1;

}
.hindu-section {
  display: inherit;
  flex-direction: row;
  align-items: center;
  position: relative;
  background-color: $colour-a;

  background-image: url("../images/background_opaque.png");
  background-position: center;
  background-size: cover;

  width: 100%;
  height: 100%;
  max-width: 1200px;
  min-height: 800px;

  margin: 0;
  padding: 2em 1em 0 0;
  
  h2 {
    font-size: inherit;
    font-size: 3em;
    font-family: $primary-font;
    text-decoration: none;
    letter-spacing: 0.25em;
    line-height: 1em;
    color: $colour-d;
    padding: 0 1em 0 1em;
  }

  p {
    font-size: 1.5em;
    line-height: 1.2em;
  }


  .text {
    display: inherit;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 20%;
    //transform: translateX(-28%);
    background-color: $colour-a;
    padding: 2em 1em 2em 1em;
    max-width: 900px;
    width: 60%;
    z-index: 1;

    img {
      height: 6em;
    }

  }

  .mandala-corner {
    position: absolute;
    top: 0%;
    max-width: 20vh;

    opacity: 0.6;

  }

  .mandala {
    opacity: 0.6;
    object-fit: contain;
    max-width: 60vh;
    max-height: 600px;
  }
}


@media (min-width: 1200px) {
  .name-section {
    h1 {
      font-size: 8em;
    }
  }
  .hindu-section {
    p {
      font-size: 1.5em;
    }

  }
  .rsvp-section {
    .card {
      padding-right: 2em;
    }

  }
  .thank-you {
    h1 {
      font-size: 8em;
    }
  }
}

@media (max-width: 900px) {
  .hindu-section {
    h2 {
      font-size: 2em;
    }
    p {
      font-size: 1em;
    }

    .text {
      left: 10%;
      width: 80%;
    }
  }
  .rsvp-section {
    .press {
      font-size: 1.2em;
    }
    .card {
      padding: 1em 1em 1em 0em;
      margin: 0em;
      width: 80%;

      h2 {
        font-size: 5em;
      }

      h3 {
        font-size: 1.2em;
      }
      p {
        font-size: 1em;
      }
    }
    .questions {
      margin: 0;
    }
  }
}


/*
.questions>p {
  text-align: left;
  border: 1px solid black;
  width: 100%;
}
*/

